<!-- <div class="bootstrap-wrapper col-md-6 offset-md-3">
  <div class="container text-center">
    <div class="row"  class="login-form" >
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Login here</h1>

        <amexio-row>
          <amexio-column [size]="30">
            <amexio-form
              [body-height]="'50px'"
              form-name="loginForm"
              [header]="true"
              [show-error]="true"
              #loginform
            >


              <amexio-form-header> Login Form </amexio-form-header>



              <amexio-form-body>
                <amexio-row>
                  <amexio-column [size]="9">
                    <amexio-text-input
                      [(ngModel)]="model.userName"
                      name="username"
                      field-label="Username"
                      [allow-blank]="false"
                      place-holder="Enter Username here"
                      [error-msg]="'Please Enter User name'"
                    >
                    </amexio-text-input>

                    <amexio-password-input
                      [enable-popover]="true"
                      [field-label]="'Password'"
                      [(ngModel)]="model.password"
                      name="password"
                      [place-holder]="'Enter Password'"
                      [allow-blank]="false"
                      [icon-feedback]="true"
                    >
                    </amexio-password-input>
                  </amexio-column>
                </amexio-row>
              </amexio-form-body>

              <amexio-form-action>
                <amexio-button
                  (onClick)="onSaveClick()"
                  [label]="'Save'"
                  [type]="'theme-color'"
                  [tooltip]="'toolTip'"
                >

                </amexio-button>

                <amexio-button
                  (onClick)="onResetClick()"
                  [label]="'Reset'"
                  [type]="'green'"
                  [tooltip]="'toolTip'"
                ></amexio-button>

              </amexio-form-action>
            </amexio-form>
          </amexio-column>
        </amexio-row>
      </div>
    </div>
  </div>
</div> -->


<div class="col-md-6 offset-md-3">

  <h1 class="text-center">Login here</h1><hr>
   <img class="login-image" src="../../assets/images/login.png">

<br>


  <amexio-form [formGroup]="loginForm" [header]="true" class="login-form">
    <amexio-form-header>Login form</amexio-form-header>
    <amexio-form-body>
      <amexio-row>
        <amexio-column size="8">
          <amexio-text-input
            formControlName="userName"
            [field-label]="'User Name'"
            [allow-blank]="false"
            [error-msg]="'Please enter user name'"
            [enable-popover]="true"
            [place-holder]="'Please enter user name'"
            [icon-feedback]="false"
          >
          </amexio-text-input>

          <amexio-password-input
            formControlName="password"
            name="passwo"
            [field-label]="'Password'"
            [allow-blank]="false"
            [error-msg]="'Please enter password'"
            [enable-popover]="true"
            [place-holder]="'Please enter password'"
            [icon-feedback]="false"
          >
          </amexio-password-input>


        </amexio-column>
      </amexio-row>
    </amexio-form-body>
    <amexio-form-action>
      <amexio-button
      (onClick)="onClickLogin()"
      [disabled]="!loginForm.valid"
        class="col-md-6 offset-md-3"
        [label]="'Save'"
        [type]="'theme-color'"
        [tooltip]="'toolTip'"
        [icon]="'icon'"
        [disabled]="false"
        [form-bind]="'form-bind'"
        [size]="'small'"
        [loading]="false"
        [block]="false"
      >
      </amexio-button>
    </amexio-form-action>
  </amexio-form>
</div>

<!-- </div> -->




